@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./img/codigo.png");  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

#numero{
    display: none;
}

output{
    background-color: white;
    border-radius: 0.6rem;
    height: 5rem;  
}

.main-container{

    display: flex;
    background-color: #462D80;
    width: 40rem;
    height: 33.5rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 2.5rem;
    flex-direction: column;
    font-family: Cinzel;
    opacity: 0.9;
    
}
h1{
    color: white;
    margin-top: 1.3rem;
}
.caixinhas{
    display: flex;
    flex-direction: column;
    width: 30rem;
    gap: 1.5rem; 
    margin-top: 1rem; 
}
#selecao{
    display: flex;
    height: 2.3rem;
    border-radius: 0.6rem;
}
.mini-caixas input {
   height: 2.6rem;
    width: 15rem;
    border-radius: 0.6rem ; 
} 

.mini-caixas{
    display: flex;
    flex-direction: row;
    gap:1.5rem;
}

.mini-caixas_antes{
    display: flex;
    flex-direction: column;
}

#msg{
    height: 2.6rem;
 
    border-radius: 0.6rem ; 
}
.botao button{
    width: 7rem;
    height: 1.6rem;
    border-radius: 0.6rem;
    text-align: center;
    flex-direction: row;
}
.botao{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#enviar{
    height: 1.6rem ;
    border-radius: 0.6rem;
}
#saida{
    color:black;
    font-weight: bold;

}
p{
    color: white;
}